<!-- <form [formGroup]="contactForm" (submit)="onSubmit()">
  <input type = "text" name="from_name" placeholder = "Your full name" formControlName="from_name" >
  <br/>
  
  <input type = "text" name="to_name" placeholder = "To Name" formControlName="to_name" >
  <br/>
  <br/>
  <input type = "email" name="to_email" placeholder = "To email" formControlName="to_email" >
  <br/>
  
  <textarea name = "message" placeholder = "Your message" formControlName="message" ></textarea>
  <br/>
  <input type = "submit" value = "Send">
</form> -->

<div class="page-header p-5"  data-parallax="true">
    <div class="container p-5 p-lg-0 pt-lg-5 ">
        <div class="motto text-center">
            <h2 class="p-5 fw-bold">Contact Us</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-5">
        <div class="col-md-4 col-sm-12">
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <div class="icon-sm text-white"><i class="fa fa-phone pb-3 fa-lg" aria-hidden="true"></i></div>
                    <h5 class="text-white">Phone number</h5>
                    <p class="text-muted">+91 564 548 4854</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <div class="icon-sm text-white"> <i class="far fa-envelope-open pb-3 fa-lg"></i></div>
                    <h5 class="text-white">Email address</h5>
                    <p class="text-muted">thewebmaxinfo@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <div class="icon-sm text-white"><i class="fa fa-map-marker pb-3 fa-lg" aria-hidden="true"></i></div>
                    <h5 class="text-white">Address info</h5>
                    <p class="text-muted">252 W 43rd St New York, NY</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-md-6">
            <h4 class="text-uppercase">Location</h4>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                    <span class="separator-left bg-warning"></span>
                    <span class="separator-right bg-warning"></span>
                </div>
            </div>  
            <!-- <div id="map" class="match-parent mt-4"></div> -->
            <div class="map mt-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.6404548947953!2d85.3070096149876!3d27.697505382795942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399355c5d0a6cc87%3A0x18db6e4f8d7cdbd8!2sQuick%20Fix!5e0!3m2!1sen!2sin!4v1643197621376!5m2!1sen!2sin" 
                 allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-uppercase">Contact Form </h4>
            <div class="wt-separator-outer">
                <div class="wt-separator style-square">
                   <span class="separator-left bg-warning"></span>
                   <span class="separator-right bg-warning"></span>
                </div>
            </div>
            <div class="bg-gray">
                <div class="row mt-4 p-5">
                    <form [formGroup]="contactForm" (submit)="onSubmit()">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" formControlName="username" placeholder="Username">
                                    <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors?.['required']">username is required</div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" formControlName="mobileno" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-edit"></i></span>
                                    <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-warning me-3">Submit<i class="fas fa-angle-double-right ps-2"></i></button>
                            <button type="reset" class="btn btn-warning">Reset<i class="fas fa-angle-double-right ps-2"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>