.marginIcon {
    margin-left: 80px;
    .icon {
        padding-left: 10px;
    }
}

.second {
    margin-top: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    // background-color: #ffdd00;
}

.navbar-inverse {
    background-color: #ffdd00;
}