.page-header {
    // margin-top: 140px;
    background-image: url('../../../assets/construction-4.jpg');
    height: 85vh;
    background-size: cover;
    background-position: top;
}

b {
    font-weight: 900;
    font-size: 50px;
    color: #ffdd00;
}

.about {
    margin-top: 1.25rem;
}
.service{
    .card {
        min-height: 18.75rem;
        background-size: cover;
        background-repeat: no-repeat;
        display: table;
    }
    .card-body{
        display: table-cell;
        vertical-align: middle;
    }
}
.underline{
    position: relative;
}
.underline::before{
    content: "";
    background-color: yellow;
    width: 55px;
    height: 3px;
    position: absolute;
    bottom: -3px;
}

//-------------------media-queries--------------//
 @media (max-width: 575.98px){
    .about-us{
      position: relative;
      top: 6.25rem;  
    }
    
 }
 @media (min-width: 320px) and (max-width:480px){
     .service{
         margin-top: 10px;
     }
     .nav-head{
        left: 11px;
     }
    .home-properties{
        padding: 5px 0px !important;
    }
 }


