<div class="page-header p-5 overlay-wraper" data-parallax="true">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container p-5 p-lg-0 pt-lg-5">
    <div class="motto text-center">
      <h2 class="p-5 m-5 fw-bolder text-white">About Us</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="section-head text-center mt-5">
    <h2 class="text-uppercase">QUICK CONSTRUCTION</h2>
    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-warning"></span>
        <span class="separator-right bg-warning"></span>
      </div>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book has survived.
    </p>
  </div>
  <div class="section-content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
        <img
          src="../../../assets/construction-5.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-auto">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
          reprehenderit autem, vitae saepe officia magni quos veritatis rerum
          explicabo facere vero. Iure debitis, quas cupiditate quidem
          perspiciatis molestiae maiores delectus atque officia aut aspernatur
          voluptates dolores sint ad, qui labore facere? Ut sint, animi quis
          ratione vitae officia cupiditate provident dolorem. Id qui ipsa
          veritatis facilis sapiente? Minus quae aspernatur fuga error veritatis
          delectus incidunt consequatur cumque. Unde natus a deserunt cumque
          accusamus, maiores expedita inventore obcaecati non voluptas
          praesentium modi impedit. At culpa tempora voluptatem explicabo sunt
          aspernatur dolores ea voluptatibus delectus debitis illo, amet atque
          similique repellendus praesentium!
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="section-full overlay-wraper bg-parallax mt-5 mb-5 pt-5 pb-4"
  data-stellar-background-ratio="0.5"
  style="background-image: url(../../../assets/services-1.jpg)"
>
  <div class="overlay-main opacity-07 bg-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <div class="text-right text-white">
          <h3 class="font-24">The Construction Company</h3>
          <h1 class="font-60">AWESOME FACTS</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a metus
            pellentesque, scelerisque ex sed, volutpat nisi. Curabitur tortor
            mi, eleifend ornare lobortis non. Nulla porta purus quis iaculis
            ultrices. Proin aliquam sem at nibh hendrerit sagittis. Nullam
            ornare odio eu lacus tincidunt malesuada.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="section-content">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc m-auto">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
          reprehenderit autem, vitae saepe officia magni quos veritatis rerum
          explicabo facere vero. Iure debitis, quas cupiditate quidem
          perspiciatis molestiae maiores delectus atque officia aut aspernatur
          voluptates dolores sint ad, qui labore facere? Ut sint, animi quis
          ratione vitae officia cupiditate provident dolorem. Id qui ipsa
          veritatis facilis sapiente? Minus quae aspernatur fuga error veritatis
          delectus incidunt consequatur cumque. Unde natus a deserunt cumque
          accusamus, maiores expedita inventore obcaecati non voluptas
          praesentium modi impedit. At culpa tempora voluptatem explicabo sunt
          aspernatur dolores ea voluptatibus delectus debitis illo, amet atque
          similique repellendus praesentium!
        </p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
        <img
          src="../../../assets/construction-1.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
