.page-header {
    background-image: url("../../../assets/contact-2.jpg");
    height: 70vh;
    background-size: cover;
    background-position: top;
}
.gallery{
  img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}
h1,h2,h3{
    margin: 0px;
}
.photo{
    // margin-top: 100px;
    input{
        display: none;
    }
    .container{
        width: 100%;
        text-align: center;
    }
    h1{
        font-weight: normal;
        font-size: 35px;
        position: relative;
        margin: 40px 0;
        &::before{
            content: '';
            position: absolute;
            width: 100px;
            height: 3px;
            background-color: yellow;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%);
            animation: animate 4s linear infinite;
        }
    }
    .top-content{
        background-color: rgb(243,243,243);
        border-radius: 5px;
        box-shadow: 3px 3px 5px lightgray;
        width: 100%;
        height: 100% !important;
        margin: 0 auto 20px auto;
        height: 60px;
        display: flex;
        align-items: center;
        h3{
            // height: 100%;
            background-color: rgb(228, 228, 228);
            // line-height: 60px;
            // padding: 0px 50px;
            color: white;
        }   
    }
    // label{
    //     display: inline-block;
    //     height: 100%;
    //     padding: 0 5px;
    //     margin: 0 20px;
    //     line-height: 60px;
    //     font-size: 18px;
    //     color: gray;
    //     cursor: pointer;
    //     transition: color .5s;
    //     &:hover{
    //         color: black;
    //     }
    // }
    .photo-gallery{
        width: 90%;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }
    .pic{
        position:relative;
        height: 230px;
        border-radius:10px;
        box-shadow: 3px 3px 5px lightgray;
        transition: .5s;
        cursor: pointer;
        &::before{
            content: "Photo Gallery";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            font-size: 22px;
            font-weight: bold;
            width: 100%;
            margin-top: -90px; 
            opacity: 0;      
            transition: .3s;
            transition-delay: .2s; 
            z-index:1;
        }
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            bottom:0;
            left: 0;
            border-radius: 10px;
            height:0;
            background-color: rgb(0,0,0,.4);
            transition: .3s;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: .5s;
        }
    }
   
}
@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}
.photo{
    .pic {
        &:hover {
            &::after {
                height: 100%;
            }
        }
    }
}
.pic {
	&:hover {
		&::before {
			margin-top: 0px !important;
            opacity: 1 !important;
		}
	}
}
#check1 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.pic {
						opacity: 1;
						transform: scale(1);
						position: relative;
						transition: .5s;
					}
				}
			}
		}
	}
}

#check2 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.family {
						opacity: 1;
						transform: scale(1);
						position: relative;
					}
				}
			}
		}
	}
}
#check2 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.child {
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
					.place {
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
				}
			}
		}
	}
}
#check3 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.child {
						opacity: 1;
						transform: scale(1);
						position: relative;
					}
				}
			}
		}
	}
}
#check3 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.family {
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
					.place {
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
				}
			}
		}
	}
}
#check4 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.place {
						opacity: 1;
						transform: scale(1);
						position: relative;
					}
				}
			}
		}
	}
}
#check4 {
	&:checked {
		~ {
			.container {
				.photo-gallery {
					.child {
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
					.family{
						opacity: 0;
						transform: scale(0);
						position: absolute;
						transition: .0s;
					}
				}
			}
		}
	}
}
// .grid { 
//     display: grid;
//     grid-template-columns: repeat(3, minmax(200px, 1fr));
//     grid-gap: 20px;
//     align-items: stretch;
//     }
//   .grid img {
//     border: 1px solid #ccc;
//     box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
//     max-width: 100%;
//   }