<div class="page-header p-5 overlay-wraper header-1" data-parallax="true">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="container p-5 p-lg-0 pt-lg-5">
      <div class="motto text-center">
        <h2 class="p-5 m-5 fw-bolder text-white">GALLERY</h2>
      </div>
    </div>
  </div>
<!-- <div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 p-0 photo my-3"> -->
    <!-- <input type="radio" name="photos" id="check1" checked>  -->
    <!-- <input type="radio" name="photos" id="check2" checked>
    <input type="radio" name="photos" id="check3">
    <input type="radio" name="photos" id="check4">   
    <div class="container">
        <h1>OUR PHOTO GALLERY</h1>
        <div class="col-md-12 col-sm-12 col-12 p-0">
            <div >
                <div class="top-content">
                    <div class="col-md-3 p-0">
                        <h3 class="py-2">
                            photo gallery
                        </h3>
                    </div>
                    <div class="col-md-9 p-0 px-3">
                        <div class="d-flex justify-content-between"> -->
                            <!-- <label for="check1">All photos</label> -->
                            <!-- <label for="check2">Family photos</label>
                            <label for="check3">Child photos</label>
                            <label for="check4">Visited photos</label>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-12 p-0">
                <div class="row m-0 photo-gallery">
                    <div class="col-md-3 p-0">
                        <div class="pic place">
                            <img src="../../../assets/construction-1.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic child">
                            <img src="../../../assets/construction-5.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic family">
                            <img src="../../../assets/construction-4.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic place">
                            <img src="../../../assets/construction-3.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic child">
                            <img src="../../../assets/construction-2.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic family">
                            <img src="../../../assets/contact-2.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic place">
                            <img src="../../../assets/contact-1.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic child">
                            <img src="../../../assets/construction-6.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic family">
                            <img src="../../../assets/construction-5.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic place">
                            <img src="../../../assets/construction-4.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic child">
                            <img src="../../../assets/construction-3.jpg">
                        </div>
                    </div>
                    <div class="col-md-3 p-0">
                        <div class="pic family">
                            <img src="../../../assets/construction-2.jpg">
                        </div>
                    </div>
                </div>
            
        </div> -->
        <!-- <div class="photo-gallery">
            <div class="pic place">
                <img src="../../../assets/construction-1.jpg">
            </div>
            <div class="pic family">
                <img src="../../../assets/construction-2.jpg">
            </div>
            <div class="pic child">
                <img src="../../../assets/construction-3.jpg">
            </div>
            <div class="pic place">
                <img src="../../../assets/construction-4.jpg">
            </div>
            <div class="pic family">
                <img src="../../../assets/construction-5.jpg">
            </div>
            <div class="pic child">
                <img src="../../../assets/construction-6.jpg">
            </div>
            <div class="pic place">
                <img src="../../../assets/contact-1.jpg">
            </div>
            <div class="pic family">
                <img src="../../../assets/contact-2.jpg">
            </div>
            <div class="pic child">
                <img src="../../../assets/construction-2.jpg">
            </div>
            <div class="pic place">
                <img src="../../../assets/construction-3.jpg">
            </div>
            <div class="pic family">
                <img src="../../../assets/construction-4.jpg">
            </div>
            <div class="pic child">
                <img src="../../../assets/construction-5.jpg">
            </div>
        </div> -->
    <!-- </div>
</div> -->

<!-- <div class="section-head text-center mt-5">
    <h2 class="text-uppercase">OUR GALLERY</h2>
    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-warning"></span>
        <span class="separator-right bg-warning"></span>
      </div>
    </div>
</div> -->
<!-- <div class="grid py-3">
    <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-2.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-3.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-4.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-1.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-3.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-2.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-4.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-6.jpg" alt="Sample photo" class="img-fluid">
    <img src="../../../assets/construction-1.jpg" alt="Sample photo" class="img-fluid">
</div> -->
<!-- <div class="col-md-12 p-0">
    <div class="row m-0 gallery">
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-2.jpg" alt="Sample photo" class="img-fluid">
            </div>        
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-1.jpg" alt="Sample photo" class="img-fluid">
            </div>        
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-6.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-4.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-2.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-3.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-1.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-4.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
        <div class="col-md-3 p-0">
            <div class="p-2">
                <img src="../../../assets/construction-5.jpg" alt="Sample photo" class="img-fluid">
            </div>
        </div>
    </div>
</div> -->
<div class="row">
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='boats'" (click)="filterBy='boats'">Boats</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='camping'" (click)="filterBy='camping'">Camping</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='library'" (click)="filterBy='library'">Library</button>
	<ul class="thumbnailsList">
		<li *ngFor="let image of visibleImages">
			<a [routerLink] = "['/image', image.id]">
				<img src="{{image.url}}" class="tn" width="200" height="160">
			</a>
		</li>
	</ul>
</div>