/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
p{
    font-size:0.938rem;
}
/*-------------------------------------
	 Title separators 
-------------------------------------*/
.wt-separator-outer {
	overflow:hidden;
}
/*Separator defualt*/
.wt-separator {
	display:inline-block;
	height:3px;
	width:50px;
	position:relative;
}
.wt-separator .separator-left,
.wt-separator .separator-right {
	position:absolute;
	top:50%;
	width:70px;
	height:2px;
	margin-top:-1px;
}
.wt-separator .separator-left{
	left:-80px;
}
.wt-separator .separator-right{
	right:-80px;
}
/*Separator liner*/
.wt-separator.style-liner {
	width:20px;
	height:4px;
}
/*Separator square*/
.wt-separator.style-square {
	width:10px;
	height:10px;
	background-color:transparent;
	border-width:3px;
	border-style:solid;
	border-color:#2d3239;
}
.wt-separator.style-square .separator-left,
.wt-separator.style-square .separator-right {
	height:3px;
}
.wt-separator.style-square.has-bg {
	border-color:#fff;
}
/*Separator icon*/
.wt-separator.style-icon {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:18px;
}
/*-------------------------------------
	 background color
-------------------------------------*/
.bg-black-light{background-color:#212121;}
.bg-gray{background-color:#f5f6f6;}
.bg-gray-light{background-color:#f1f1f1;}
.bg-gray-dark{background-color:#d3d3d3;}
.bg-green{background-color:#a5de5c;}
.bg-yellow{background-color:#fff000;}
.bg-dark-blue{background-color:#161b23;}
.bg-light-blue{background-color:#3097db;}